# Predicting Customer Churn to Increase Retention

***

## Table of Contents

[
insert table of contents here
[
***

## Introduction

[
insert intro here
]

****

## Dataset

### Data Overview

The dataset used in this project is available on Kaggle, [here.](https://www.kaggle.com/blastchar/telco-customer-churn)

Each row represents a customer and each column contains customers' attributes.
<br>**The dataset includes information about:**
* Demographic info about customers – gender, age range, and if they have partners and dependents
* Services that each customer has signed up for – phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies
* Customer account information – how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charges
* Customers who left within the last month - the column is called Churn

### Feature Overview

#### A. Demographics
>**gender** : Sex (categorical: "Male", "Female")
<br>**SeniorCitizen** : Is senior citizen (categorical: 0=no, 1=yes)
<br>**Partner** : Does customer have a partner (categorical: 0=no, 1=yes)
<br>**Dependents** : Does customer have dependents (categorical: 0=no, 1=yes)
#### B. Services
>**PhoneService** : Has phone service (categorical: "Yes", "No")
<br>**MultipleLines** : Has multiple lines (categorical: "Yes", "No", "No phone service")
<br>**InternetService** : Type of Internet service (categorical: "DSL", "Fiber optic", "No")
<br>**OnlineSecurity** : Has malware protection (categorical: "Yes", "No", "No internet service")
<br>**OnlineBackup** : Has digital backup service (categorical: "Yes", "No", "No internet service")
<br>**DeviceProtection** : Has device protection plan (categorical: "Yes", "No", "No internet service")
<br>**TechSupport** : Has contacted tech support (categorical: "Yes", "No", "No internet service")
<br>**StreamingTV** : Has TV streaming service (categorical: "Yes", "No", "No internet service")
<br>**StreamingMovies** : Has movie streaming service (categorical: "Yes", "No", "No internet service")
#### C. Account Information
>**customerID** : customer identification number (categorical)
<br>**tenure** : Number of months the consumer has been a customer (numeric: 1,2,3,...72)
<br>**Contract** : Type of contact (categorical: "Month-to-month", "One year", "Two year")
<br>**PaperlessBilling** : Customer is billed via email (categorical: "Yes", "No")
<br>**PaymentMethod** : Method of payment on file (categorical: "Electronic check", "Mailed check", "Bank transfer (automatic)", "Credit card (automatic)")
<br>**MonthlyCharges** : Monthly fee (numeric)
<br>**TotalCharges** : Sum of all fees (numeric)
#### D. Target Variable
>**Churn** : Customers who left within the last month (categorical: "Yes", "No")

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Load dataset
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000